<section class="format-layout">
    <div class="new">
        <div class="news row">
            <div class="news1 col-md-9 list pointer" (click)="viewNews()">
                <mat-card>
                    <img mat-card-image src="../../../../assets/img/news/n1.jpg">
                    <p>
                        <b>World Cup 2018 - miếng ghép cuối cùng để Ronaldo trở nên hoàn hảo</b> <br />
                        <a>Siêu sao người Bồ Đào Nha có gần như mọi vinh quang trong đời cầu thủ, nhưng World Cup vẫn là đỉnh cao mà anh chưa với tới.</a>
                    </p>
                </mat-card>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="title-Panels">NEWS</div>
                </div>
                <mat-card>
                    <div class="news2">
                        <li><i>Neymar - khi siêu sao cũng cần một điểm tựa</i></li>
                        <hr/>
                        <li><i>Cựu trọng tài V-League: ‘Không hiểu vì sao Argentina không bị thổi phạt đền’</i></li>
                        <hr/>
                        <li><i>Peru chia tay World Cup bằng trận thắng Australia</i></li>
                        <hr/>
                        <li><i>Neymar - khi siêu sao cũng cần một điểm tựa</i></li>
                        <hr/>
                        <li><i>Cựu trọng tài V-League: ‘Không hiểu vì sao Argentina không bị thổi phạt đền’</i></li>
                        <hr/>
                        <li><i>Peru chia tay World Cup bằng trận thắng Australia</i></li>
                        <hr/>
                    </div>
                </mat-card>
            </div>
        </div>
        <hr />
        <div class="panel panel-default">
            <div class="title-Panels">RELATED NEWS</div>
        </div>
        <mat-card>
            <div class="row" align="justify">
                <div class="col-md-4">
                    <div class="related-news">
                        <img class="img" src="../../../../assets/img/news/n2.jpg"><br />
                        <b>Effenberg yêu cầu tuyển Đức loại Ozil và Gundogan</b><br />
                        <a>Huyền thoại Bayern Munich muốn loại hai tuyển thủ Đức vì cuộc gặp của họ với Tổng thống Thổ Nhĩ Kì mới đây.</a>
                    </div>
                </div>
                <br/>
                <div class="col-md-4">
                    <div class="related-news">
                        <img class="img" src="../../../../assets/img/news/n3.jpg"><br />
                        <b>Tuyển Nga và trăm mối tơ vò trước thềm World Cup 2018</b><br />
                        <a>Bốn năm sau Olympic Sochi 2014, nước Nga lại là chủ nhà của một sự kiện thể thao tầm cỡ thế giới.</a>
                    </div>
                </div>
                <br/>
                <div class="col-md-4">
                    <div class="related-news">
                        <img class="img" src="../../../../assets/img/news/n4.jpg"><br />
                        <b>Tite - Người tìm lại bản ngã cho bóng đá Brazil</b><br />
                        <a>Trong nhiều năm trước khi Tite xuất hiện, đội tuyển năm lần vô địch World Cup chú trọng phòng ngự và chỉ thực sự nguy hiểm khi phản công.</a>
                    </div>
                </div>
                <br/>
                <div class="col-md-4">
                    <div class="related-news">
                        <img class="img" src="../../../../assets/img/news/n2.jpg"><br />
                        <b>Effenberg yêu cầu tuyển Đức loại Ozil và Gundogan</b><br />
                        <a>Huyền thoại Bayern Munich muốn loại hai tuyển thủ Đức vì cuộc gặp của họ với Tổng thống Thổ Nhĩ Kì mới đây.</a>
                    </div>
                </div>
                <hr/>
                <div class="col-md-4">
                    <div class="related-news">
                        <img class="img" src="../../../../assets/img/news/n3.jpg"><br />
                        <b>Tuyển Nga và trăm mối tơ vò trước thềm World Cup 2018</b><br />
                        <a>Bốn năm sau Olympic Sochi 2014, nước Nga lại là chủ nhà của một sự kiện thể thao tầm cỡ thế giới.</a>
                    </div>
                </div>
                <br/>
                <div class="col-md-4">
                    <div class="related-news">
                        <img class="img" src="../../../../assets/img/news/n4.jpg"><br />
                        <b>Tite - Người tìm lại bản ngã cho bóng đá Brazil</b><br />
                        <a>Trong nhiều năm trước khi Tite xuất hiện, đội tuyển năm lần vô địch World Cup chú trọng phòng ngự và chỉ thực sự nguy hiểm khi phản công.</a>
                    </div>
                </div>
                <br/>
            </div>
        </mat-card>
    </div>
</section>