<section class="format-layout">
    <mat-card class="new">
        <div class="row">
            <div class="news col-md-9 list pointer" (click)="viewNews()">
                <mat-card>
                    <img mat-card-image src="../../../../assets/img/news/n1.jpg">
                    <p>
                        <b>World Cup 2018 - miếng ghép cuối cùng để Ronaldo trở nên hoàn hảo</b> <br />
                        <a>Siêu sao người Bồ Đào Nha có gần như mọi vinh quang trong đời cầu thủ, nhưng World Cup vẫn là đỉnh cao mà anh chưa với tới.</a>
                    </p>
                </mat-card>
            </div>
            <div class="col-md-3">
                <b>News</b>
                <hr/>
                <div class="example-card">
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Monday, 18-Jun-2018 01:00</mat-card-subtitle>
                            <mat-card-title>Brazil-Thụy Sĩ</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Brazil: Coutinho 20'<br/> Thụy Sĩ: Zuber 50'
                            </p>
                        </mat-card-content>
                    </mat-card>
                    <br/>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Monday, 18-Jun-2018 19:00</mat-card-subtitle>
                            <mat-card-title>Thụy Điển-Hàn Quốc</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Thụy Điển: Andreas Granqvist
                            </p>
                        </mat-card-content>
                    </mat-card>
                    <br/>
                    <mat-card>
                        <mat-card-header>
                            <mat-card-subtitle>Monday, 18-Jun-2018 22:00</mat-card-subtitle>
                            <mat-card-title>Bỉ-Panama</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <p>
                                Bỉ: Mertens 47', Lukaku 69', 75'
                            </p>
                        </mat-card-content>
                    </mat-card>
                    <br/>
                </div>
            </div>
        </div>
        <hr />
        <b>Related news</b>
        <mat-card>
            <div class="row" align="justify">
                <div class="col-md-4">
                    <div class="related-news">
                        <img class="img" src="../../../../assets/img/news/n2.jpg"><br />
                        <b>Effenberg yêu cầu tuyển Đức loại Ozil và Gundogan</b><br />
                        <a>Huyền thoại Bayern Munich muốn loại hai tuyển thủ Đức vì cuộc gặp của họ với Tổng thống Thổ Nhĩ Kì mới đây.</a>
                    </div>
                </div>
                <br/>
                <div class="col-md-4">
                    <div class="related-news">
                        <img class="img" src="../../../../assets/img/news/n3.jpg"><br />
                        <b>Tuyển Nga và trăm mối tơ vò trước thềm World Cup 2018</b><br />
                        <a>Bốn năm sau Olympic Sochi 2014, nước Nga lại là chủ nhà của một sự kiện thể thao tầm cỡ thế giới.</a>
                    </div>
                </div>
                <br/>
                <div class="col-md-4">
                    <div class="related-news">
                        <img class="img" src="../../../../assets/img/news/n4.jpg"><br />
                        <b>Tite - Người tìm lại bản ngã cho bóng đá Brazil</b><br />
                        <a>Trong nhiều năm trước khi Tite xuất hiện, đội tuyển năm lần vô địch World Cup chú trọng phòng ngự và chỉ thực sự nguy hiểm khi phản công.</a>
                    </div>
                </div>
                <br/>
                <div class="col-md-4">
                    <div class="related-news">
                        <img class="img" src="../../../../assets/img/news/n2.jpg"><br />
                        <b>Effenberg yêu cầu tuyển Đức loại Ozil và Gundogan</b><br />
                        <a>Huyền thoại Bayern Munich muốn loại hai tuyển thủ Đức vì cuộc gặp của họ với Tổng thống Thổ Nhĩ Kì mới đây.</a>
                    </div>
                </div>
                <hr/>
                <div class="col-md-4">
                    <div class="related-news">
                        <img class="img" src="../../../../assets/img/news/n3.jpg"><br />
                        <b>Tuyển Nga và trăm mối tơ vò trước thềm World Cup 2018</b><br />
                        <a>Bốn năm sau Olympic Sochi 2014, nước Nga lại là chủ nhà của một sự kiện thể thao tầm cỡ thế giới.</a>
                    </div>
                </div>
                <br/>
                <div class="col-md-4">
                    <div class="related-news">
                        <img class="img" src="../../../../assets/img/news/n4.jpg"><br />
                        <b>Tite - Người tìm lại bản ngã cho bóng đá Brazil</b><br />
                        <a>Trong nhiều năm trước khi Tite xuất hiện, đội tuyển năm lần vô địch World Cup chú trọng phòng ngự và chỉ thực sự nguy hiểm khi phản công.</a>
                    </div>
                </div>
                <br/>
            </div>
        </mat-card>
    </mat-card>
</section>