<section class="format-layout">
    <mat-card class="news-full" align="justify">
        <div class="row">
            <div class="related col-md-3">
                <mat-card>
                    <b>Related news</b>
                    <div class="row list pointer">
                        <img mat-card-image src="../../../../assets/img/news/n2.jpg">
                        <b>Effenberg yêu cầu tuyển Đức loại Ozil và Gundogan</b>
                        <a>Huyền thoại Bayern Munich muốn loại hai tuyển thủ Đức vì cuộc gặp của họ với Tổng thống Thổ Nhĩ Kì mới đây.</a>
                    </div>
                    <hr/>
                    <div class="row list pointer">
                        <img mat-card-image src="../../../../assets/img/news/n3.jpg">
                        <b>Tuyển Nga và trăm mối tơ vò trước thềm World Cup 2018</b>
                        <a>Bốn năm sau Olympic Sochi 2014, nước Nga lại là chủ nhà của một sự kiện thể thao tầm cỡ thế giới. Nhưng họ dường như không có sự chuẩn bị tốt nhất, với vô số vấn đề nội tại.</a>
                    </div>
                    <hr/>
                    <div class="row list pointer">
                        <img mat-card-image src="../../../../assets/img/news/n4.jpg">
                        <b>Tite - Người tìm lại bản ngã cho bóng đá Brazil</b>
                        <a>Trong nhiều năm trước khi Tite xuất hiện, đội tuyển năm lần vô địch World Cup chú trọng phòng ngự và chỉ thực sự nguy hiểm khi phản công.</a>
                    </div>
                    <hr/>
                </mat-card>
            </div>
            <div class="col-md-9">
                <mat-card>
                    <mat-card-header>
                        <mat-card-subtitle>Thứ sáu, 8/6/2018, 10:50 </mat-card-subtitle>
                        <mat-card-title>
                            <h1>World Cup 2018 - miếng ghép cuối cùng để Ronaldo trở nên hoàn hảo</h1>
                        </mat-card-title>
                        <mat-card-subtitle>Siêu sao người Bồ Đào Nha có gần như mọi vinh quang trong đời cầu thủ, nhưng World Cup vẫn là đỉnh cao mà anh chưa với tới.</mat-card-subtitle>
                    </mat-card-header>
                    <p>"Thằng nhóc là đội trưởng của đội bóng đấy", cựu HLV đội trẻ Nacional, ông Pedro Talinhas trả lời phỏng vấn Goal. "Và dù đá cho đội thiếu nhi, rất nhiều lần nó đã chống lại những đứa khác hơn mình tận vài ba tuổi. Và nó nổi bật hơn
                        cả. Giá mà mọi người được thấy nó lúc ấy. Một cầu thủ trẻ với năng lực tuyệt vời, cực kì tiềm năng".</p>
                    <div class="img" float="center">
                        <img mat-card-image src="../../../../assets/img/news/n1.jpg">
                    </div>
                    <mat-card-content>
                        <p> Tại Sporting Lisbon, Cristiano Ronaldo không phải là cầu thủ trẻ tài năng nhất của Bồ Đào Nha, nhưng anh vẫn có nét độc đáo riêng khi so sánh với những cầu thủ chạy cánh cùng thế hệ. "Có ba cầu thủ trẻ giỏi nhất vào lúc đó", đồng
                            đội cũ của Ronaldo ở Lisbon, Andre Cruz kể lại. "Đó là Ricardo Qaresma, Hugo Viana, người sau này đá cho Newcastle, và Cristiano. Tất cả đều rất tài năng, nhưng Ronaldo có gì đó rất khác biệt"."Anh ấy nỗ lực tới cùng, luôn
                            tỏ ra nghiêm túc. Chính phẩm chất ấy giúp Cristiano trở thành một nhà vô địch như hôm nay. Vừa tài năng, vừa có đủ các phẩm chất để phát triển. Và thể chất của anh ấy thì siêu việt, rất hiếm khi chấn thương", Cruz nói thêm.
                            <p> Ở tuổi 33, Ronaldo đã được gọi là huyền thoại. Anh từng năm lần vô địch Champions League, bốn với Real Madrid và một trong màu áo Man Utd. Ronaldo chỉ kém một danh hiệu Champions League so với Paco Gento, huyền thoại đang giữ
                                kỷ lục sáu lần cùng Real đoạt cúp C1 - tiền thân của giải đấu số một châu Âu cấp CLB hiện tại - trong giai đoạn 1956-1966. "Cristiano là huyền thoại thật sự của Madrid", cựu thủ môn của Real, Paco Buyo nhận xét. "Cậu ấy
                                là một ngôi sao trên mọi khía cạnh. Giành được mọi vinh quang cùng Real và từng vô địch châu Âu với đội tuyển quốc gia. Nó minh chứng đẳng cấp của cậu ấy. Một cầu thủ vô địch"
                                <p> Với những người không quan tâm lắm đến lịch sử, chẳng hạn các CĐV trẻ tuổi của đội bóng Hoàng Gia Tây Ban Nha, Ronaldo đã trở thành cầu thủ vĩ đại nhất. Anh là người ghi nhiều bàn nhất cho Real trong lịch sử - với 450 bàn
                                    qua 438 trận, vượt lên trên Raul (323 bàn) và huyền thoại Alfredo Di Stefano (308 bàn). "Alfredo là một hiện tượng", cựu thủ môn người Argentina Hugo Gaiti, người từng đối đầu với Di Stefano trả lời. "Với tôi, người
                                    mở ra một cuộc cách mạng cho bóng đá châu Âu là Alfredo Di Stefano. Và sau Alfredo, là Cristiano. Cristiano không ngừng học hỏi. Cậu ta là nhà vô địch bẩm sinh. Một tay săn bàn vĩ đại và là người luôn muốn chiến thắng
                                    để viết lại lịch sử".
                                    <p> Tại Bồ Đào Nha, cái tên Ronaldo được đặt cạnh các huyền thoại như Eusebio và Luis Figo, dù không ai trong hai tiền bối từng giúp ĐTQG giành một danh hiệu quốc tế như Ronaldo đã làm được ở Euro 2016. Anh hiện cũng là
                                        tay săn bàn tốt nhất trong lịch sử tuyển Bồ Đào Nha, với 81 lần lập công. "Cậu ấy đã vượt qua các huyền thoại như Eusebio và Figo", cựu đồng đội của Ronaldo tại Man Utd, Rio Ferdinand nói. "Cậu ấy thậm chí đã vượt
                                        qua họ từ lâu rồi". "Họ là những cầu thủ vĩ đại. Nhưng Figo biết anh ấy không viết ra một trang sử mới như Ronaldo. Những thống kê không nói dối. Ronaldo đã chiến thắng các trận đấu, đã trở thành biểu tượng trong
                                        các trận đấu, đã vô địch trong những năm qua, và cả bây giờ", Ferdinand phân tích.
                                        <p> Với những chiếc vương miện Champions League, năm Quả Bóng Vàng, các chức VĐQG và Cup Quốc gia, Siêu Cup châu Âu, chức vô địch thế giới các CLB và chức vô địch châu Âu giành được hai năm trước, Ronaldo là cầu thủ
                                            thành công bậc nhất lịch sử bóng đá. Nhưng Ronaldo vẫn còn động lực phía trước để tiếp tục khẳng định thế số một. Anh muốn giành thêm chức vô địch World Cup để hoàn thiện bức tranh phi phàm của sự nghiệp. Và
                                            ở tuổi 33, ngày hội sắp khởi tranh ở Nga sẽ là cơ hội cuối cùng của Ronaldo. "Một thử thách không dễ dàng. Dù có những cầu thủ giỏi, Bồ Đào Nha vẫn chưa phải tập thể sở hũu các ngôi sao đẳng cấp thế giới bao
                                            quanh Ronaldo, như điều anh vốn có ở Real Madrid", Andre Cruz phân tích. "Tình trạng của họ tương tự Messi tại Argentina. Ở Barca, các đồng đội của Messi ở đẳng cấp cao nhất. Nhưng khi lên đội tuyển quốc gia,
                                            Messi phải hài lòng với những gì tồn tại".
                                            <p>Bồ Đào Nha có dân số trên 10 triệu người. Thành tích của bóng đá nước này đang vượt quá tầm cỡ của quốc gia, bởi Bồ Đào Nha quá nhỏ bé nếu so với Tây Ban Nha, Brazil, Argentina hay nhiều quốc gia khác. Chức
                                                vô địch Euro 2016 trước là niềm tự hào lớn lao. Họ đã vượt qua được thất bại trước Hy Lạp trong trận chung kết trên sân nhà tại Euro 2004, và Euro 2016 sẽ được nhớ mãi. Chàng trai trẻ Ronaldo đã rơi nước
                                                mắt khi Bồ thua Hy Lạp 0-1 trong trận chung kết. Và anh lại khóc 12 năm sau đó ở Paris, vì một chấn thương loại anh khỏi trận chung kết ở phút 15. Ronaldo chỉ trở lại nâng Cup vô địch, sau bàn thắng của
                                                Eder ở hiệp phụ.
                                                <p> Joan Marques de Freitas, người đã thuyết phục mẹ Ronaldo cho cậu nhóc rời quê nhà đến Lisbon chơi bóng, kể: "Cristiano rất tự hào vì được sinh ra và lớn lên ở Madeira. Cậu ấy tự hào được chơi cho đội tuyển
                                                    Bồ Đào Nha. Chúng ta đều thấy niềm tự hào thể hiện mỗi khi Ronaldo mặc màu áo ấy". "Năm 2004, cậu ấy khóc vì đã rất gần chức vô địch với đội tuyển. Năm 2016, cậu ấy khóc vì chấn thương, nhưng sau cùng,
                                                    kết thúc đã có hậu. Vô địch World Cup dĩ nhiên là giấc mơ lớn nhất, là mọi thứ với cậu ấy hiện tại. Nhưng thử thách rất cam go", Joan nói thêm.
                                                    <p> Tại World Cup 2006, Ronaldo cũng đã đi rất gần tới cánh cửa thiên đường. Bồ Đào Nha lọt vào bán kết, với anh là cầu thủ của đội hình chính. Bồ Đào Nha vượt qua vòng bảng năm đó bằng ba trận toàn thắng,
                                                        và Ronaldo ghi bàn từ chấm 11 mét giúp họ thắng Iran. Vòng 1/8 cũng rất khó khăn. Bồ đã hạ Hà Lan 1-0 trong một trận cầu quyết liệt, mỗi đội bị đuổi 2 người. Tranh cãi tiếp tục nổ ra ở tứ kết. Wayne
                                                        Rooney bị thẻ đỏ vì lỗi đạp vào chân Ricardo Carvalho. Ronaldo đã gây ra tranh cãi và sau này bị truyền thông Anh chỉ trích. Anh nháy mắt với ban huấn luyện Bồ Đào Nha sau khi khiếu nại trọng tài
                                                        rút thẻ đỏ với Rooney.
                                                        <p> “Dù sao khi có Cristiano Ronaldo trong đội hình, bất cứ ai cũng có quyền hy vọng một điều gì đó bất ngờ đến phút cuối. Chỉ đơn giản bởi, cậu ta quá giỏi. Cậu ấy thể hiện sự ổn định, cả cấp CLB lẫn
                                                            đội tuyển, và bạn sẽ không thể gạch tên Bồ khỏi danh sách ứng viên vô địch, bởi vì họ có Cristiano Ronaldo", cựu trung vệ tuyển Anh nói thêm. World Cup là cơ hội để Ronaldo trở thành bất tử.
                                                            Sau khi giành Quả Bóng Vàng tháng 12 năm ngoái, anh đã san bằng kỷ lục giành năm phần thưởng cá nhân cao quý này của Lionel Messi. Khi đó, anh nói: "Tôi là cầu thủ vĩ đại nhất trong lịch sử".
                                                            Nếu có thể giúp Bồ Đào Nha vô địch World Cup 2018, Ronaldo sẽ không cần chứng minh sự vĩ đại bằng lời nói. Anh cũng chắc chắn sẽ bỏ Messi lại phía sau. Ronaldo sẽ là minh chứng cho sự hoàn hảo,
                                                            nếu anh có thể nâng cao chiếc Cup vàng thế giới trên sân Luzhniki ngày 15/7 tới.</p>
                    </mat-card-content>
                    <mat-card-actions><b>Đỗ Hiếu</b></mat-card-actions>
                </mat-card>
            </div>
        </div>
    </mat-card>
</section>