<section class="calendar">
    <div class="row main">
        <div class="col-sm-8 tabs row">
            <div class="col-sm-4 tab tab-1">
                Sắp diễn ra
            </div>
            <div class="col-sm-4 tab tab-2">
                Các trận trước
            </div>
            <div class="col-sm-4 tab tab-3">
                Xem tất cả
            </div>
            <div class="col-sm-12 border mar-top5">
                <div class="time-break">
                    <div class="time-content">Ngày 14/06/2018</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Russia.png">
                            <div style="margin: auto">
                                <span> Russia </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> SAUDI ARABIA </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Saudi_Arabia.png">
                        </div>
                        <div class="team2">
                            <button mat-button (click)="openDialog()">
                                <div style=" margin: auto;margin-left: 2.8rem;margin-top: 0.6rem;;position: absolute;color: white">
                                    <span> GUESS </span>
                                </div>
                                <img src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/bg-du-doan.png">
                            </button>
                        </div>
                        <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    </div>
                    <div class="time">22:00</div>
                </div>
            </div>
            <div class="col-sm-12 border">
                <div class="time-break">
                    <div class="time-content">Ngày 15/06/2018</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Egypt.png">
                            <div style="margin: auto">
                                <span> Egypt </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> Uruguay </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Uruguay.png">
                        </div>
                        <div class="team2">
                            <button mat-button (click)="openDialog()">
                                <div style=" margin: auto;margin-left: 2.8rem;margin-top: 0.6rem;;position: absolute;color: white">
                                    <span> GUESS </span>
                                </div>
                                <img src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/bg-du-doan.png">
                            </button>
                        </div>
                        <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    </div>
                    <div class="time">19:00</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Morocco.png">
                            <div style="margin: auto">
                                <span> Morocco </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> Iran </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Iran.png">
                        </div>
                        <div class="team2">
                            <button mat-button (click)="openDialog()">
                                <div style=" margin: auto;margin-left: 2.8rem;margin-top: 0.6rem;;position: absolute;color: white">
                                    <span> GUESS </span>
                                </div>
                                <img src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/bg-du-doan.png">
                            </button>
                        </div>
                        <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    </div>
                    <div class="time">22:00</div>
                </div>
            </div>
            <div class="col-sm-12 border">
                <div class="time-break">
                    <div class="time-content">Ngày 16/06/2018</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Portugal.png">
                            <div style="margin: auto">
                                <span> Portugal </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> Spain </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Spain.png">
                        </div>
                        <div class="team2">
                            <button mat-button (click)="openDialog()">
                                <div style=" margin: auto;margin-left: 2.8rem;margin-top: 0.6rem;;position: absolute;color: white">
                                    <span> GUESS </span>
                                </div>
                                <img src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/bg-du-doan.png">
                            </button>
                        </div>
                        <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    </div>
                    <div class="time">01:00</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/France.png">
                            <div style="margin: auto">
                                <span> France </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> Australia </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Australia.png">
                        </div>
                        <div class="team2">
                            <button mat-button (click)="openDialog()">
                                <div style=" margin: auto;margin-left: 2.8rem;margin-top: 0.6rem;;position: absolute;color: white">
                                    <span> GUESS </span>
                                </div>
                                <img src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/bg-du-doan.png">
                            </button>
                        </div>
                        <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    </div>
                    <div class="time">17:00</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Argentina.png">
                            <div style="margin: auto">
                                <span> Argentina </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> Iceland </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Iceland.png">
                        </div>
                        <div class="team2">
                            <button mat-button (click)="openDialog()">
                                <div style=" margin: auto;margin-left: 2.8rem;margin-top: 0.6rem;;position: absolute;color: white">
                                    <span> GUESS </span>
                                </div>
                                <img src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/bg-du-doan.png">
                            </button>
                        </div>
                        <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    </div>
                    <div class="time">20:00</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Peru.png">
                            <div style="margin: auto">
                                <span> Peru </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> Denmark </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Denmark.png">
                        </div>
                        <div class="team2">
                            <button mat-button (click)="openDialog()">
                                <div style=" margin: auto;margin-left: 2.8rem;margin-top: 0.6rem;;position: absolute;color: white">
                                    <span> GUESS </span>
                                </div>
                                <img src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/bg-du-doan.png">
                            </button>
                        </div>
                        <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    </div>
                    <div class="time">23:00</div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
</section>
<mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
</mat-form-field>