<section class="calendar">
    <div class="row main">
        <div class="col-sm-8 tabs row">
            <div class="col-sm-4 tab tab-1">
                Sắp diễn ra
            </div>
            <div class="col-sm-4 tab tab-2">
                Các trận trước
            </div>
            <div class="col-sm-4 tab tab-3">
                Xem tất cả
            </div>
            <div class="col-sm-12 border mar-top5">
                <div class="time-break">
                    <div class="time-content">Ngày 14/06/2018</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Russia.png">
                            <div style="margin: auto">
                                <span> Russia </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> SAUDI ARABIA </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Saudi_Arabia.png">
                        </div>
                    </div>
                    <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    <div class="time">22:00</div>
                </div>
            </div>
            <div class="col-sm-12 border">
                <div class="time-break">
                    <div class="time-content">Ngày 15/06/2018</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Egypt.png">
                            <div style="margin: auto">
                                <span> Egypt </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> Uruguay </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Uruguay.png">
                        </div>
                    </div>
                    <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    <div class="time">19:00</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Morocco.png">
                            <div style="margin: auto">
                                <span> Morocco </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> Iran </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Iran.png">
                        </div>
                    </div>
                    <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    <div class="time">22:00</div>
                </div>
            </div>
            <div class="col-sm-12 border">
                <div class="time-break">
                    <div class="time-content">Ngày 16/06/2018</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Portugal.png">
                            <div style="margin: auto">
                                <span> Portugal </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> Spain </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Spain.png">
                        </div>
                    </div>
                    <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    <div class="time">01:00</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/France.png">
                            <div style="margin: auto">
                                <span> France </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> Australia </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Australia.png">
                        </div>
                    </div>
                    <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    <div class="time">17:00</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Argentina.png">
                            <div style="margin: auto">
                                <span> Argentina </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> Iceland </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Iceland.png">
                        </div>
                    </div>
                    <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    <div class="time">20:00</div>
                </div>
                <div class="time-break">
                    <div class="banner">
                        <div class="team1">
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Peru.png">
                            <div style="margin: auto">
                                <span> Peru </span>
                            </div>
                        </div>
                        <div class="team2">
                            <div style="margin: auto">
                                <span> Denmark </span>
                            </div>
                            <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Denmark.png">
                        </div>
                    </div>
                    <span class="dialog"><a (click)="openDialog()">Information</a></span>
                    <div class="time">23:00</div>
                </div>
            </div>
        </div>

        <div class="col-sm-4" style=" margin-left: 1.8rem;">
            <!-- <table style=" width: 30%;border-style: solid; border-color: red; ">
                <tr style="width: 30%">
                    <th style="text-align: center ">
                        <h1>Bảng Xếp Hạng</h1>
                    </th>
                </tr>
                <tr>
                    <td> -->
            <mat-tab-group>
                <mat-tab label="GROUP STAGE" style="text-align: center;width: 100%">
                    <mat-tab-group style="width: 100%;">
                        <mat-tab label="A" style="width: 20%">
                            <table style="width: 100%;">
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        ĐỘI TUYỂN
                                    </th>
                                    <th>
                                        HỆ SỐ
                                    </th>
                                    <th>
                                        ĐIỂM
                                    </th>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">1</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Russia.png" /> RUSSIA</td>
                                    <td style="width: 14%;text-align: center;">+5</td>
                                    <td style="width: 10%;text-align: center;"> 3</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">2</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Uruguay.png " /> URUGUAY</td>
                                    <td style="width: 14%;text-align: center;">+1</td>
                                    <td style="width: 10%;text-align: center;"> 3</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">3</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Egypt.png " /> EGYPT</td>
                                    <td style="width: 14%;text-align: center;">-1</td>
                                    <td style="width: 10%;text-align: center;"> 0</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">4</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Saudi_Arabia.png " /> SAUDI ARABIA</td>
                                    <td style="width: 14%;text-align: center;">-5</td>
                                    <td style="width: 10%;text-align: center;"> 0</td>
                                </tr>
                            </table>
                        </mat-tab>

                        <mat-tab label="B ">
                            <table style="width: 100%;">
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        ĐỘI TUYỂN
                                    </th>
                                    <th>
                                        HỆ SỐ
                                    </th>
                                    <th>
                                        ĐIỂM
                                    </th>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">1</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Iran.png" /> IRAN</td>
                                    <td style="width: 14%;text-align: center;">+1</td>
                                    <td style="width: 10%;text-align: center;"> 3</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">2</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Spain.png " /> SPAIN</td>
                                    <td style="width: 14%;text-align: center;">0</td>
                                    <td style="width: 10%;text-align: center;">1</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">3</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Portugal.png " /> PORTUGAL</td>
                                    <td style="width: 14%;text-align: center;">0</td>
                                    <td style="width: 10%;text-align: center;">1</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">4</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Morocco.png " /> MOROCCO</td>
                                    <td style="width: 14%;text-align: center;">-1</td>
                                    <td style="width: 10%;text-align: center;">0</td>
                                </tr>
                            </table>
                        </mat-tab>
                        <mat-tab label="C ">
                            <table style="width: 100%;">
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        ĐỘI TUYỂN
                                    </th>
                                    <th>
                                        HỆ SỐ
                                    </th>
                                    <th>
                                        ĐIỂM
                                    </th>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">1</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/France.png" /> FRANCE</td>
                                    <td style="width: 14%;text-align: center;">+1</td>
                                    <td style="width: 10%;text-align: center;"> 3</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">2</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Denmark.png " /> DENMARK</td>
                                    <td style="width: 14%;text-align: center;">+1</td>
                                    <td style="width: 10%;text-align: center;"> 3</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">3</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Australia.png " /> AUSTRALIA</td>
                                    <td style="width: 14%;text-align: center;">-1</td>
                                    <td style="width: 10%;text-align: center;">0</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">4</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Peru.png " /> PERU</td>
                                    <td style="width: 14%;text-align: center;">-1</td>
                                    <td style="width: 10%;text-align: center;">0</td>
                                </tr>
                            </table>
                        </mat-tab>
                        <mat-tab label="D ">
                            <table style="width: 100%;">
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        ĐỘI TUYỂN
                                    </th>
                                    <th>
                                        HỆ SỐ
                                    </th>
                                    <th>
                                        ĐIỂM
                                    </th>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">1</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Croatia.png" /> CROATIA</td>
                                    <td style="width: 14%;text-align: center;">+2</td>
                                    <td style="width: 10%;text-align: center;"> 3</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">2</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Iceland.png " /> ICELAND</td>
                                    <td style="width: 14%;text-align: center;">0</td>
                                    <td style="width: 10%;text-align: center;">1</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">3</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Argentina.png " /> ARGENTINA</td>
                                    <td style="width: 14%;text-align: center;">0</td>
                                    <td style="width: 10%;text-align: center;">1</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">4</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Nigeria.png " /> NIGERIA</td>
                                    <td style="width: 14%;text-align: center;">-2</td>
                                    <td style="width: 10%;text-align: center;">0</td>
                                </tr>
                            </table>
                        </mat-tab>
                        <mat-tab label="E ">
                            <table style="width: 100%;">
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        ĐỘI TUYỂN
                                    </th>
                                    <th>
                                        HỆ SỐ
                                    </th>
                                    <th>
                                        ĐIỂM
                                    </th>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">1</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Serbia.png" /> SERBIA</td>
                                    <td style="width: 14%;text-align: center;">+1</td>
                                    <td style="width: 10%;text-align: center;"> 3</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">2</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Switzerland.png " /> SWITZERLAND</td>
                                    <td style="width: 14%;text-align: center;">0</td>
                                    <td style="width: 10%;text-align: center;">1</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">3</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Brazil.png " /> BRAZIL</td>
                                    <td style="width: 14%;text-align: center;">0</td>
                                    <td style="width: 10%;text-align: center;">1</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">4</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Costa_Rica.png " /> COSTA RICA</td>
                                    <td style="width: 14%;text-align: center;">-1</td>
                                    <td style="width: 10%;text-align: center;">0</td>
                                </tr>
                            </table>
                        </mat-tab>
                        <mat-tab label="F ">
                            <table style="width: 100%;">
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        ĐỘI TUYỂN
                                    </th>
                                    <th>
                                        HỆ SỐ
                                    </th>
                                    <th>
                                        ĐIỂM
                                    </th>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">1</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Sweden.png" /> SWEDEN</td>
                                    <td style="width: 14%;text-align: center;">+1</td>
                                    <td style="width: 10%;text-align: center;"> 3</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">2</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Mexico.png " /> MEXICO</td>
                                    <td style="width: 14%;text-align: center;">+1</td>
                                    <td style="width: 10%;text-align: center;"> 3</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">3</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Korea.png " /> KOREA</td>
                                    <td style="width: 14%;text-align: center;">-1</td>
                                    <td style="width: 10%;text-align: center;">0</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">4</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Germany.png " /> GERMANY</td>
                                    <td style="width: 14%;text-align: center;">-1</td>
                                    <td style="width: 10%;text-align: center;">0</td>
                                </tr>
                            </table>
                        </mat-tab>
                        <mat-tab label="G ">
                            <table style="width: 100%;">
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        ĐỘI TUYỂN
                                    </th>
                                    <th>
                                        HỆ SỐ
                                    </th>
                                    <th>
                                        ĐIỂM
                                    </th>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">1</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Belgium.png" /> BELGIUM</td>
                                    <td style="width: 14%;text-align: center;">+3</td>
                                    <td style="width: 10%;text-align: center;"> 3</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">2</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/England.png " /> ENGLAND</td>
                                    <td style="width: 14%;text-align: center;">+1</td>
                                    <td style="width: 10%;text-align: center;"> 3</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">3</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Tunisia.png " /> TUNISIA</td>
                                    <td style="width: 14%;text-align: center;">-1</td>
                                    <td style="width: 10%;text-align: center;">0</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">4</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Panama.png " /> PANAMA</td>
                                    <td style="width: 14%;text-align: center;">-3</td>
                                    <td style="width: 10%;text-align: center;">0</td>
                                </tr>
                            </table>
                        </mat-tab>
                        <mat-tab label="H ">
                            <table style="width: 100%;">
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        ĐỘI TUYỂN
                                    </th>
                                    <th>
                                        HỆ SỐ
                                    </th>
                                    <th>
                                        ĐIỂM
                                    </th>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">1</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Senegal.png" /> SENEGAL</td>
                                    <td style="width: 14%;text-align: center;">+1</td>
                                    <td style="width: 10%;text-align: center;"> 3</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">2</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Japan.png " /> JAPAN</td>
                                    <td style="width: 14%;text-align: center;">+1</td>
                                    <td style="width: 10%;text-align: center;"> 3</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">3</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Poland.png " /> POLAND</td>
                                    <td style="width: 14%;text-align: center;">-1</td>
                                    <td style="width: 10%;text-align: center;">0</td>
                                </tr>
                                <tr>
                                    <td style="width: 10%;text-align: center;">4</td>
                                    <td><img style="width: 3.8rem; " src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Colombia.png " /> COLOMBIA</td>
                                    <td style="width: 14%;text-align: center;">-1</td>
                                    <td style="width: 10%;text-align: center;">0</td>
                                </tr>
                            </table>
                        </mat-tab>
                    </mat-tab-group>
                </mat-tab>
            </mat-tab-group>
            <!-- </td>
                </tr>
            </table> -->
        </div>
    </div>
</section>