<mat-dialog-content>
    <div class="row main">
        <div class="col-sm-12 tab tab-1">
            <h6>Thông Tin Trước Giờ Bóng Lăn:</h6>
            <p>Thụy Điển không vắng cầu thủ nào. Họ dường như sẽ ra sân với đội hình giống trận hòa 0-0 với Peru hồi tuần trước, khi tất cả các thành viên đều sung sức và sẵn sàng.</p>
            <img src="http://img.infonet.vn/w480/Uploaded/2018/ebhuwob/2018_06_17/dtthuydien.jpg" />
            <p> Bên kia chiến tuyến, Hàn Quốc cũng có được đội hình mạnh nhất với đầy đủ những hảo thủ như Song Heung Min, Ki Sung Yueng... </p>
            <img src="https://media.thethao247.vn/upload/phongnguyen/2018/06/17/dt-han-quoc-huong-den-world-cup-cho-doi-heung-son-min-len-dong.jpg">
        </div>
        <div class="col-sm-12 tab tab-1">
            <h6>Thành Tích Đối Đầu</h6>
            <p>Thụy Điển thắng 1 và hòa 2 trận trong 3 cuộc đối đầu với Hàn Quốc. Lần gần đây nhất hai đội gặp nhau là trận giao hữu năm 2005, kết thúc với tỷ số hòa 2-2.</p>
            <p>Đội bóng Bắc Âu đến nước Nga với quá trình chuẩn bị không thật sự hoàn hảo, khi hòa 0-0 cả hai trận làm nóng trước giải. Tuy nhiên, Thụy Điển mới chỉ để thua 3/10 trận gần đây và rất khó bị đánh bại nhờ hàng thủ vững chãi.</p>
            <p>Hàn Quốc cũng không đạt được phong độ cao ở thời điểm hiện tại. Họ phơi áo trước Senegal và trước đó may mắn hòa Bolivia. Thực tế, đội bóng xứ nhân sâm chỉ thắng 1/6 trận gần nhất.</p>
        </div>
        <div class="col-sm-12 tab tab-1">
            <h6>Đội Hình Dự Kiến Ra Sân Của 2 Đội</h6>
            <p>
                Hàn Quốc: S C Kim; J H Park, H S Jang, M W Kim, Y Lee; J S Lee, W Y Jung, S Y Ki, S W Lee; H M Son, H C Hwang
            </p>
            <p>
                Thụy Điển: Olsen; Augustinsson, Granqvist, Lindelof, Lustig; Claesson, Larsson, Ekdal, Forsberg; Berg, Toivonen
            </p>
        </div>
        <div class="col-sm-12 tab tab-1">
            <h6>Tỉ Lệ Cược</h6>
            <p>Tỷ lệ châu Á: Thụy Điển chấp hòa (0: 1/2)</p>
            <p>Tài xỉu: 2 hòa</p>
            <p>Dự đoán: Thụy Điển thắng 1-0</p>
        </div>
        <div class="col-sm-12 tab tab-1">
            <h6>Thời Gian Thi Đấu Dự Kiên
                <p>18/06/2018</p>
                <p>19:00</p>
            </h6>
        </div>
    </div>
</mat-dialog-content>