<div id="overview">
    <mat-card>
        <div class="row">
            <button mat-raised-button color="primary" (click)="redirect('create')">Add</button>
        </div>
        <div class="row">
            <table class="table table-hover" matSort (matSortChange)="sortData($event)">
                <tr>
                    <th mat-sort-header="name" style="width: 20%;">Team</th>
                    <th mat-sort-header="logo" style="width: 15%;">Logo</th>
                    <th mat-sort-header="coach" style="width: 20%;">Coach</th>
                    <th mat-sort-header="country" style="width: 20%;">Country</th>
                    <th mat-sort-header="continent" style="width: 20%;">Continent</th>
                    <th style="width: 5%;"></th>
                </tr>
                <tr *ngFor="let i of sortedData">
                    <td>{{i.name}}</td>
                    <td><img src="../assets/img/flag/{{i.logo}}"></td>
                    <td>{{i.coach}}</td>
                    <td>{{i.country}}</td>
                    <td>{{i.continent}}</td>
                    <mat-icon>edit</mat-icon>
                </tr>
            </table>
        </div>
    </mat-card>
</div>
<div id="create" style="display: none">
    <mat-card>
        <mat-card-title>
            <div class="text-center">
                <h2>Add Team</h2>
            </div>
        </mat-card-title>
        <div class="container">
            <form class="example-form">
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Team Name">
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Coach">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="Country">
                                <mat-option *ngFor="let i of country" [value]="i.value">
                                    {{ i.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="Continent">
                                <mat-option *ngFor="let i of continent" [value]="i.value">
                                    {{ i.viewValue }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Choose Icon">
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field class="example-full-width">
                            <mat-select placeholder="Tournament" [formControl]="toppings" multiple>
                                <mat-option *ngFor="let i of toppingList" [value]="i">{{i}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label>History</label>
                        <div [froalaEditor] [(froalaModel)]="data2"></div><br/>
                    </div>
                </div>
                <div class="text-right">
                    <button mat-raised-button color="primary">Save</button>
                    <button mat-raised-button color="accent" (click)="redirect('overview')">Cancel</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>