<nav class="navbar navbar-default navbar-expand-md navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse">
        <div class="menu-wrapper">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active current">
                    <a routerLink="guess">GUESS</a>
                </li>
                <li routerLinkActive="active current">
                    <a routerLink="calendar">CALENDAR</a>
                </li>
                <li routerLinkActive="active current">
                    <a routerLink="news">NEWS</a>
                </li>
                <!-- <li>
                    <a (click)="signInModal.show()">SIGN IN</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>