<div class="footer-basic">
    <footer>
        <div class="social">
        </div>
        <ul class="list-inline cs-list-inline text-center">
            <li>
                <a routerLink="guess">Guess</a>
            </li>
            <li>
                <a routerLink="calendar">Calendar</a>
            </li>
            <li>
                <a routerLink="news">News</a>
            </li>
        </ul>
        <p class="copyright text-center">FootBall Event © 2018 by Intern Team</p>
    </footer>
</div>