.content {
    margin-top: 4%;
}

.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0;
    transition: all .2s ease-in-out;
    z-index: 1049;
}

.show-scroll {
    opacity: 1;
    transition: all .2s ease-in-out;
}

button.back-to-top {
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background-color: rgba(0, 0, 0, .6);
    color: white;
    width: 40px;
    height: 40px;
}

button:focus {
    outline: 0;
}