<mat-dialog-content>
    <img style="width: 100%; height:100%" src="../assets/img/banner6.jpg">
    <div class="row team form-group">
        <div class="col-md-6 form-group">
            <div class="teamA">
                <img alt="true" class="flag-d" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Egypt.png">
                <div style="margin: auto">
                    <span>Egypt</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <div class="teamB">
                <img alt="true" class="flag-d" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Uruguay.png">
                <div style="margin: auto">
                    <span>Uruguay</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <br>
        <mat-tab-group style="width:100%">
            <mat-tab label="Result">
                <br>
                <div class="row betting">
                    <div class="col-md-4 padding-left win-1">
                        <mat-radio-button value="1"></mat-radio-button>
                        <h4>1.5 WIN</h4>
                    </div>
                    <div class="col-md-4 draw">
                        <mat-radio-button value="2"></mat-radio-button>
                        <h4>3.0 DRAW</h4>
                    </div>
                    <div class="col-md-4 padding-right win-2">
                        <mat-radio-button value="2"></mat-radio-button>
                        <h4>5.0 WIN</h4>
                    </div>
                </div>
                <br>
                <div class="row">
                    <form class="example-form">
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Số người dự đoán giống bạn">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nhập số tiền cược">
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <button mat-button>Guess</button>
                </div>
            </mat-tab>
            <mat-tab label="Score">
                <br>
                <div class="row">
                    <div class="col-md-5 betting">
                        <mat-form-field appearance="outline">
                            <mat-label>Score</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2" style="font-size: 45px; text-align: center">:</div>
                    <div class="col-md-5 betting">
                        <mat-form-field appearance="outline">
                            <mat-label>Score</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <form class="example-form">
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Số người dự đoán giống bạn">
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                    <br>
                    <button mat-button>Guess</button>
                </div>
            </mat-tab>
            <mat-tab label="Over/Under">
                <br>
                <div class="row betting">
                    <div class="col-md-6">
                        <mat-radio-button value="1"></mat-radio-button>
                        <h3>Over</h3>
                    </div>
                    <div class="col-md-6">
                        <mat-radio-button value="2"></mat-radio-button>
                        <h3>Under</h3>
                    </div>
                    <br>
                </div>
                <div class="row">
                    <form class="example-form">
                        <div class="row">
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Số người dự đoán giống bạn">
                                </mat-form-field>
                            </div>
                            <div class="col-6">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Nhập số tiền cược">
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                    <br>
                    <button mat-button>Guess</button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-dialog-content>