.carousel-indicators.ng-star-inserted {
    margin-bottom: 14%;
}

.row {
    padding-top: 1%;
    text-align: center;
}

img {
    width: 100%;
    height: calc(100vh);
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
}


/* .mat-form-field-infix {
    font-size: x-large;
} */

img.prize {
    width: 100%;
    height: calc(55vh) !important;
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
}

img.image {
    width: 90%;
    height: 90%;
    margin: -10% 0 7% 5%;
}

.section-2 {
    background-image: url(https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/bet-bg.jpg);
    background-size: 100% auto!important;
    height: 100%;
}

.main {
    margin: 0 0 0 25%;
}

.tab-1 {
    background: url(https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/btn-tab-1.png) no-repeat;
    background-size: 100% 100%;
}

.tab-2 {
    background: url(https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/btn-tab-2.png) no-repeat;
    background-size: 100% 100%;
    color: #cfc596;
}

.tab-3 {
    background: url(https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/btn-xem-tat-ca.png) no-repeat;
    background-size: 100% 100%;
    color: black;
}

.mar-top5 {
    margin-top: 5%;
}

.tabs .tab {
    width: 100%;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: white;
    padding: 2%;
    font-size: 1.1rem;
}

.time-break {
    margin-bottom: 5rem;
    height: 1px;
    background: white;
    position: relative;
}

.time-break .time-content {
    background: url(https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/time-match-bg.png) no-repeat;
    width: 15rem;
    text-align: center;
    position: absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-size: 100% 100%;
}

.matchs .match {
    background: url(https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/match-bg.png) no-repeat;
    width: 70%;
    transform: translateX(3rem);
    height: 5.6rem;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background-position-y: 0.2rem;
    background-size: 100% 100%;
}

.banner {
    background: url(https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/match-bg.png) no-repeat;
    position: absolute;
    top: -25px;
    width: 90%;
    height: 3.26rem;
    margin-left: 8%;
    margin-right: 8%;
}

.time {
    background: url(https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/time.png) no-repeat;
    width: 6.2rem;
    height: 3.26rem;
    text-align: center;
    position: relative;
    left: 43%;
    top: -25px;
    line-height: 3rem;
    color: white;
}

.team1 {
    position: absolute;
    left: -4%;
    width: 41%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Dusha';
    display: flex;
}

.team2 {
    position: absolute;
    right: 1%;
    width: 41%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Dusha';
    display: flex;
}

.predict {
    position: absolute;
    right: 1%;
    width: 41%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Dusha';
    display: flex;
}

predict.img {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
}

.flag {
    height: 3.2rem;
    width: 45%;
}

.border {
    border-left: 1px solid white;
    border-right: 1px solid white;
    padding: 0px;
}

.team {
    height: 80%;
    width: 45%;
}

img.vs {
    width: 100%;
    height: calc(45vh);
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
}

.col-md-6 {
    margin-top: -15%;
    margin-bottom: 4%;
}

.mat-radio-button~.mat-radio-button {
    padding-right: 16px;
}

.result {
    padding-top: 2%;
}

.mat-button {
    margin-top: 10%;
    background: url(https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/btn-tab-2.png);
    background-size: 100% 100%;
    width: 50%;
    height: 70%;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}

.padding-left {
    padding-left: 20%;
}

.padding-right {
    padding-right: 20%;
}

.bg-red {
    background: url(https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/bet-bg.jpg)
}

.pg-4 {
    padding-bottom: 50%;
    padding-top: 5%;
}

input {
    font-size: 90px;
    color: white;
    font-family: cursive;
    text-align: center;
}

.mat-form-filed.outline {
    border-color: aliceblue
}