<div id="fullpage" mnFullpage>
    <div class="section section-1 fp-section fp-table">
        <div class="fp-tableCell">
            <carousel>
                <slide>
                    <img src="../assets/img/banner2.jpg" alt="first slide" style="display:block">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>First slide label</h3>
                    </div>
                </slide>
                <slide>
                    <img src="../assets/img/banner1.jpg" alt="second slide" style="display:block">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Second slide label</h3>
                    </div>
                </slide>
                <slide>
                    <img src="../assets/img/banner3.jpg" alt="third slide" style="display:block">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Third slide label</h3>
                    </div>
                </slide>
            </carousel>
        </div>
    </div>
    <div class="section section-2 fp-section fp-table">
        <div class="fp-tableCell">
            <form>
                <mat-form-field>
                    <mat-select placeholder="Select date">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">14/06/2018</mat-option>
                        <mat-option value="option2">15/06/2018</mat-option>
                        <mat-option value="option3">16/06/2018</mat-option>
                        <mat-option value="option4">17/06/2018</mat-option>
                        <mat-option value="option5">18/06/2018</mat-option>
                        <mat-option value="option6">19/06/2018</mat-option>
                    </mat-select>
                </mat-form-field>
            </form>
        </div>
        <div class="row main">
            <div class="col-sm-8 tabs row">
                <div class="col-sm-4 tab tab-1">
                    Sắp diễn ra
                </div>
                <div class="col-sm-4 tab tab-2">
                    Các trận trước
                </div>
                <div class="col-sm-4 tab tab-3">
                    Xem tất cả
                </div>
                <div class="col-sm-12 border mar-top5">
                    <div class="time-break">
                        <div class="time-content">Ngày 14/06/2018</div>
                    </div>
                    <div class="time-break">
                        <div class="banner">
                            <div class="team1">
                                <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Russia.png">
                                <div style="margin: auto">
                                    <span> Russia </span>
                                </div>
                            </div>
                            <div class="team2">
                                <div style="margin: auto">
                                    <span> SAUDI ARABIA </span>
                                </div>
                                <img alt="true" class="flag" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Saudi_Arabia.png">
                            </div>
                            <!-- <div class="predict">
                                <button mat-button>
                                    <div style=" margin: auto;margin-left: 3.5rem;margin-top: 0.6rem;;position: absolute;color: white">
                                        <span> BET </span>
                                    </div>
                                    <img src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/bg-du-doan.png">
                                </button>
                            </div> -->
                        </div>
                        <div class="time">22:00</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section welcome-section fp-section fp-table">
        <div class="fp-tableCell">
            <carousel interval="2000" showIndicators="true" activeSlide="0" noPause=true>
                <slide>
                    <img src="../assets/img/price5.jpg" class="prize" alt="first slide" style="display:block">
                </slide>
                <slide>
                    <img src="../assets/img/price3.jpg" class="prize" alt="third slide" style="display:block">
                </slide>
                <slide>
                    <img src="../assets/img/price6.jpg" class="prize" alt="second slide" style="display:block">
                </slide>
                <slide>
                    <img src="../assets/img/price4.jpg" class="prize" alt="third slide" style="display:block">
                </slide>
            </carousel>
            <div class="fp-prize">
                <div class="row">
                    <div class="col-md-6">
                        <img src="../assets/img/GT1.jpg" class="image" alt="prize1" style="display:block">
                    </div>
                    <div class="col-md-6">
                        <img src="../assets/img/GT2.jpg" class="image" alt="prize2" style="display:block">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-4 fp-section fp-table">
        <div class="fp-tableCell">
            <div class="row">
                <img class="vs" src="../assets/img/logo2.jpg">
                <div class="col-md-6">
                    <img alt="true" class="team" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Saudi_Arabia.png">
                </div>
                <div class="col-md-6">
                    <img alt="true" class="team" src="https://cdn.vn.garenanow.com/web/fo3/fo4/worldcup/images/flags/Russia.png">
                </div>
            </div>
            <carousel>
                <slide>
                    <div class="text-center pg-4 bg-red text-white">
                        <h3>Result</h3>
                        <div class="row result">
                            <div class="col-md-4 padding-left">
                                <mat-radio-button value="1"></mat-radio-button>
                                <h3>Win</h3>
                            </div>
                            <div class="col-md-4">
                                <mat-radio-button value="2">
                                </mat-radio-button>
                                <h3>Draw</h3>
                            </div>
                            <div class="col-md-4 padding-right">
                                <mat-radio-button value="3"></mat-radio-button>
                                <h3>Win</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button mat-button>Guess</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="text-center pg-4 bg-red text-white">
                        <h3>Score</h3>
                        <div class="row result">
                            <div class="col-md-5">
                                <mat-form-field appearance="outline">
                                    <mat-label>Score</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2" style="font-size: 90px">:</div>
                            <div class="col-md-5">
                                <mat-form-field appearance="outline">
                                    <mat-label>Score</mat-label>
                                    <input matInput>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <button mat-button>Guess</button>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </slide>
                <slide>
                    <div class="text-center py-5 bg-red text-white">
                        <h3>Over/Under</h3>
                        <div class="lead">
                            <h3>Third slide label</h3>
                            <p>Nulla vitae elit libero, a pharetra augue mollis interdum. </p>
                        </div>
                    </div>
                </slide>
            </carousel>

        </div>
    </div>
</div>